{% extends 'base/base2.html' %}
{% load static %}
{% block dashboard-body %}

<!-- Container -->
            <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
				<!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
						<div class="hk-row">
                                                        <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    {% if request.user.is_staff %}
                                                        {% if request.user.staff.is_SiteManager %}
                                                            <th>Status</th>
                                                        {% else %}
                                                            <th>Site</th>
                                                        {% endif %}

                                                    {% endif %}
                                                    <th>email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in order_qs %}
                                                    <tr>
                                                        <td>{{ order.slug }}</td>
                                                        <td>
                                                            {{ order.description }}
                                                        </td>
                                                        <td>{{ order.amount }}</td>
                                                        {% if request.user.is_staff %}
                                                        {% if request.user.staff.is_SiteManager %}
                                                            <th>{{ order.Status }}</th>
                                                        {% else %}
                                                            <th>{{ order.site }}</th>
                                                        {% endif %}

                                                    {% endif %}

                                                        <td><a href="#" class="btn btn-danger btn-sm" role="button">Delete</a> </td>
                                                    </tr>
                                                {% endfor %}



                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    {% if request.user.is_staff %}
                                                        {% if request.user.staff.is_SiteManager %}
                                                            <th>Status</th>
                                                        {% else %}
                                                            <th>Site</th>
                                                        {% endif %}

                                                    {% endif %}
                                                    <th>email</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

						</div>
					</div>
                </div>
                <!-- /Row -->
			</div>
            <!-- /Container -->

{% endblock %}